<mat-card *ngIf="post" style="cursor: pointer;" (click)="navigate(post)">
    <mat-card-header>
        <mat-card-title>{{ post.name }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>
            {{ post.desc }}
        </p>
    </mat-card-content>
</mat-card>