<mat-toolbar color="primary">

    <mat-toolbar-row>
        <a routerLink="." class="toolbar-link"><span>Principal Engineering Testing App</span></a>
    </mat-toolbar-row>

</mat-toolbar>

<div style="padding: 24px;">
    <router-outlet></router-outlet>
</div>