<!--<div fxLayout="row" fxLayoutGap="24px">
    <post-list-item *ngFor="let post of posts | async" fxFlex="33%" [post]="post"></post-list-item>   
</div>

<a mat-fab routerLink="post/new" style="position: fixed; bottom: 20px; right: 20px;">
    <mat-icon>add</mat-icon>
</a>-->

<div fxLayout="row" fxLayoutAlign="none">
    <div fxFlex="100%" fxLayout="row wrap" fxLayoutGap="24px grid" fxLayoutAlign="stretch" fxLayout.xs="column">
        <post-list-item *ngFor="let post of posts | async" fxFlex="33%" [post]="post"></post-list-item>
    </div>
</div>

<a mat-fab routerLink="post/new" style="position: fixed; bottom: 20px; right: 20px;">
    <mat-icon>add</mat-icon>
</a>

