<form novalidate [formGroup]="detailForm" (ngSubmit)="onSubmit(detailForm)">
    <div fxLayout="column">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput rows="4" formControlName="desc"></textarea>
        </mat-form-field>

        <div fxLayout="row-reverse">
            <button mat-button type="submit" color="primary">Save</button>
            <button mat-button (click)="onCancel()">Cancel</button>
			<button mat-button (click)="onDelete()">Delete</button>
        </div>
    </div>
</form>